.wrapper {
    width: 608px;
    height: 608px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color:grey;
}
.block{
    width: 150px;
    height: 150px;
    background-color: #d1d3d4;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke ;
    cursor: pointer;
}
.header{
    margin-top:30px;
    text-align: center;
    font-size: 40px;;
    font-family: DejaVu Sans Mono, monospace;
    letter-spacing: 2px;
    color: #009788;
}
.message{
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: DejaVu Sans Mono, monospace;
    background: linear-gradient(rgb(1, 220, 197),rgb(189, 211, 224));
    padding: 15px;
    z-index: -55;
}
body{
    background-image: url('img/background.jpg');
    background-size: cover;
}